<style>
.filter-container {
  background-color: white;
  border: 1px solid #3A6562;
  width: 100%;
  display: flex;
  height: fit-content;

}</style>


  <div  class="d-flex w-100 h-100 mt-3 flex-row" style="position: relative;">
  <div  class="d-flex p-3 justify-content-end" style="flex: 0 20%;">
  <div  class="filter-container flex-column">
  <div  class="d-flex">
  <div  class="d-flex flex-grow-1 px-3 align-items-center">Cerca</div>
  <div >
  <div  class="d-flex justify-content-center align-items-center" style="height: 30px; width: 30px;">
  <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-lg">
  <path  fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z">
  </path>
  <path  fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z">
  </path>
  </svg>
  </div>
  </div>
  </div>
  <div  class="p-3 d-flex flex-column">
  <label  for="title">Titolo</label>
  <input >
  <label  for="author">Autore</label>
  <input >
  <label  for="title">Anno</label>
  <input >
  <label  for="title">Isbn</label>
  <input >
  <label  for="title">Editore</label>
  <input >
  <label  for="title">Genere</label>
  <input >
  <label  for="title">Price</label>
  <input >
  </div>
  </div>
  </div>
  <div  class="d-flex p-3" style="flex: 0 60%;">
  <div  class="w-100">
  <h3 >Inserzione</h3>
  <div  class="w-100">
  <app-ads-list-item-component></app-ads-list-item-component>
  <!---->
  </div>
  </div>
  </div>
  </div>