.navbar-container {
  padding-bottom: 35px;
  background-color: var(--fourth-light);
}
.dropdown-menu {
  top: auto;
}

.collapsing.width {
  position: relative;
  overflow: hidden;
  width: 0;
  height: auto;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;

  transition: width 0.35s ease;
}

.searchBtn {
  pointer-events: none;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.container-fluid {
  display: unset;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

@media (max-width: 768px) {
  .width {
    width: 100%;
    display: block;
  }
  .userIcon {
    display: none;
  }

  .xs-hide {
    display: none;
  }

  .xs-p-0 {
    padding: 0;
  }

  #navbarHeader {
    display: block;
  }
}

@media (min-width: 768px) {
  input {
    width: 200px;
  }

  .searchBtn {
    cursor: pointer;
    pointer-events: all;
  }
  .userIconCollapse {
    display: none;
  }
}

@media (min-width: 992px) {
  input {
    width: 400px;
  }
}

.dropdown-menu {
  right: 0;
  left: auto;
  border: 1px solid var(--secondary-dark);
}

.dropdown-item:hover {
  color: var(--third-dark);
  background-color: var(--third-light);
}

.dropdown-divider {
  border-color: var(--secondary-dark);
}

.navbar-brand {
  margin-right: auto;
}

.dropdown-item,
.nav-link {
  cursor: pointer;
}

svg,
a,
a:link,
a:visited {
  color: var(--third-dark);
}

nav {
  width: 90%;
  margin-inline: auto;
}
