textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.steps {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}
.step-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--first-light);
  transition: .4s;
}
.step-button[aria-expanded="true"] {
  width: 60px;
  height: 60px;
  background-color: var(--third-color);
  color: var(--light-color);
}
.done {
  background-color: var(--third-color);
  color: var(--light-color);
}

.step-item {
  pointer-events: none;
  z-index: 10;
  text-align: center;
}

#progress {
-webkit-appearance:none;
  position: absolute;
  width: 95%;
  z-index: 5;
  height: 10px;
  margin-left: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
  background-color: var(--third-color);
  transition: .5s ease;
}
#progress::-webkit-progress-bar {
  background-color: var(--first-light);
}

.collapsing {
visibility: hidden;
}

.collape {
visibility: hidden;
transition: visibility 2s;
}

.show {
visibility: visible;
transition: visibility 2s;
}

.card {
background-color: red;
}

.nav-link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: darkgray;
  background-color: var(--first-light);
  transition: .4s;
  z-index: 10;
}

.nav-link.done {
  background-color: var(--third-color);
  color: var(--light-color);
}

.nav-link.active {
  width: 60px;
  height: 60px;
  background-color: var(--third-color);
  color: var(--light-color);
}

div:hover.col-6 .btn-book {
visibility: visible;
}

.btn-book {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--first-light);
  border: 1px solid var(--primary-dark);
  border-radius: 8px;
}

.error {
  background-color: rgba(0, 0, 0, 0.4) ;z-index: 100;
}

.list-group-item {
  border-color: var(--third-light);
}

.book-container {
  border:1px solid var(--primary-dark); 
  border-radius: 15px;
}

.h-fit {
  height: fit-content;
}

.form-control-hidden {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid var(--first-light);
}
.ads-item {
  height: auto;
  overflow: hidden;
  color: var(--secondary-dark);
  border-radius: 20px;
  display: flex;
  width: 100%;
  max-width: 900px;
  border: 1px solid var(--primary-dark);
  background-color: var(--light-color);
}

.image-container {
  overflow: hidden; 
  flex: 0 0 25%; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: space-around;
}

.image {
  max-height: 200px; 
  min-height: 200px;
}

.image-background {
  overflow: hidden; 
  background-color: rgba(200, 200, 200, 0.60);
}

.p-initial {
  position: initial;
}

.ads-detail-container {
  min-width: 0; 
  flex: 1 1 auto; 
  height: auto; 
  display: flex; 
  flex-direction: column;
}

.image-chose {
  border-top:1px solid var(--primary-dark);
}

.mini-image a {
  max-width: 35px; 
  max-height: 35px;
}

.mini-image:hover a{
  max-width: 100px; 
  max-height: 100px;
} 