<style>
  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  .container-form {
    color: #243F3D;
  }

  .btn-purple {
    background-color: var(--blue);
    color: lightgray;
  }
</style>

<style>
  ::ng-deep :root {
    --prm-gray: lightgrey;
    --prm-color: #69AEA9;

    --transition-collapse:         height .35s ease;
    --transition-collapse-width:   width .35s ease;
  }
  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}
.done {
    background-color: var(--prm-color);
    color: #fff;
}
.step-item {
    
    z-index: 10;
    text-align: center;
}

#progress {
  -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);
}

.collapsing {
  visibility: hidden;
}

.collape {
  visibility: hidden;
  transition: visibility 2s;
}

.show {
  visibility: visible;
  transition: visibility 2s;
}

.card {
  background-color: red;
}


</style>


<style>
  .nav-tabs {
    border: none;
  }
  .nav-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: darkgray;
    background-color: var(--prm-gray);
    transition: .4s;
    z-index: 10;
  }

  .nav-link.done {
    background-color: var(--prm-color);
    color: #fff;
  }

  .nav-link.active {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}

div:hover.col-6 .btn-book {
  visibility: visible;
}

.btn-book {
      /* color: #3A6562; */
    visibility: hidden;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgray;
  border: 1px solid #213937;
  border-radius: 8px;
}
</style>

<div *ngIf="showError" style="background-color: rgba(0, 0, 0, 0.4) ;z-index: 100;" class="position-absolute top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
  <div class="toast" style="display: block;" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Isbn ripetuto</strong>
      <button type="button" (click)="showError=false" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body px-3 d-flex text-center flex-column" style="background-color: white;">
      Questo isbn è gia inserito <br> Vuoi sovrascriverlo?
      <div class="mt-2 pt-2 border-top d-flex justify-content-between">
        <button type="button" class="btn btn-primary btn-sm" (click)="onEdit()" >Conferma</button>
        <button type="button" (click)="showError=false" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Annulla</button>
      </div>
    </div>
  </div>
</div>

<div class="p-4 my-3 me-3 h-100" style="color: #243F3D;">
  <div *ngIf="role === 'ACQUIRENTE'">
    <app-add-ads-form-component [genres]="genres" (formChangeEvent)="formCheck($event)"></app-add-ads-form-component>
    <div class="d-flex justify-content-center">
      <button (click)="onSubmitAds()" [disabled]="formSingle.invalid" class="btn btn-green w-50">Pubblica</button>
    </div>
  </div>
  <div *ngIf="role === 'LIBRERIA'" class="accordion h-100 d-flex flex-column" id="accordionExample">
    
    <div class="steps w-75 d-flex mx-auto nav nav-tabs" style="height: 60px" id="nav-tab" role="tablist">
      <progress #progressBar id="progress" value=0 max=2 ></progress>
      
      <button #step (click)="onSetStep(0)" style="pointer-events: none;" class="steps-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">1</button>  
        <button #step (click)="onSetStep(1)" style="pointer-events: none;" class="steps-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">2</button>
        <button #step (click)="onSetStep(2)" style="pointer-events: none;" class="steps-item nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">3</button>
      </div>
      
      
      
    
    
    <div class="tab-content bg-light d-flex flex-grow-1 flex-shrink-1 px-4 pt-3" id="nav-tabContent">
      <div class="tab-pane fade show active h-100 w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="d-flex justify-content-center align-items-center h-75 w-100">
          <ul class="list-group w-50" style="border-radius: 20px;">
            <a role="button" style="border-color:#A2E2DE" (click)="changeStep(1); isMultyISBN = false" class="list-group-item p-4">
              <h5>Crea un inserzione</h5>
              <small class="text-muted">Inserisci manualmente i dettagli</small>
            </a>
            <a role="button" style="border-color:#A2E2DE" (click)="changeStep(1); isMultyISBN = true" class="list-group-item p-4">
              <h5>Inserisci un inserzione tramite ISBN</h5>
              <small class="text-muted">Con questa opzione è possibile un creare molteplici inserzioni</small>
            </a>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade h-100 w-100" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div *ngIf="!isMultyISBN; else multyIsbn">
          <app-add-ads-form-component [genres]="genres" (formChangeEvent)="formCheck($event)"></app-add-ads-form-component>
          <div class="d-flex justify-content-between px-5">
            <button type="button" (click)="changeStep(0)" class="btn btn-green w-25">Indietro</button>
            <button (click)="onSubmitAds()" [disabled]="formSingle.invalid" class="btn btn-green w-25">Pubblica</button>
          </div>
        </div>
        <ng-template #multyIsbn >
          <div class="container d-flex flex-column h-100 w-100">
          <div class="row">
            <div class="col-12">
              <form #addAdsFormIsbn="ngForm" (ngSubmit)="onSubmitIsbn()">
                <h3>Inserisci ISBN</h3>
                <div class="row justify-content-center">
                  <div class="form-group col-6">
                    <label for="ISBN">ISBN:</label>
                    <input type="text" name="ISBN" id="multyIsbn" class="form-control" required ngModel>
                  </div>
                  <div class="form-group col-2">
                    <label for="quantity">Quantità:</label>
                    <input type="number" name="quantity" id="multyQnt" class="form-control" ngModel>
                  </div>
                  <div class="col-3 d-flex align-items-end">
                    <button [disabled]="addAdsFormIsbn.invalid" type="submit" class="btn btn-green">Conferma ISBN</button>
                  </div>
                </div>
               </form>
            </div>
          </div>
          <div class="row d-flex flex-grow-1 flex-shrink-1">
            <div class="row p-3 w-100 d-flex" style="height: fit-content;">
              <div role="button" (click)="changeBook(book)" class="col-6 position-relative" *ngFor="let book of books">
                <div class="btn-book">
                  <button type="button" (click)="books.splice(books.indexOf(book), 1)" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="p-3" style="border:1px solid #213937; border-radius: 15px;">
                  <h6>{{book.title}}</h6>
                  <small>Isbn: {{book.isbn}} - Qnt: {{book.quantity}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-4">
            <div class="col-12 d-flex justify-content-between">
              <button class="btn" (click)="changeStep(0);">Indietro</button>
              <button class="btn" [disabled]="books.length===0" (click)="changeStep(2);">Riepilogo</button>
            </div>
          </div>
        </div>
            
        </ng-template>
      </div>
      <div class="tab-pane fade h-100 w-100" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row d-flex flex-shrink-1 flex-grow-1">
          <style>
            .form-control-hidden {
              border-top: none;
              border-left: none;
              border-right: none;
              border-radius: 0;
              border-bottom: 1px solid lightgray;
}
              .ads-item {
                height: auto;
                overflow: hidden;
                color: #243F3D;
                border-radius: 20px;
                display: flex;
                width: 100%;
                max-width: 900px;
                border: 1px solid #213937;
                background-color: white;

                
              
            }
          </style>
          <div class="col-6 p-3" *ngFor="let ad of ads; let i= index">
            <div  class="my-3 p-0 ads-item">
              <div class="row m-0 p-0">
                <div class="col-4 px-0 py-2" style="overflow: hidden;">
                  <div  class="h-100 align-self-center" style="overflow: hidden; flex: 0 0 25%; height: 100%; border-top-left-radius: 15px; border-bottom-left-radius: 20px; font-family: weathericons; display: flex; align-items: center; justify-content: space-around;">
                    <div  class="h-100 d-flex justify-content-center" style="overflow: hidden; background-color: rgba(200, 200, 200, 0.60);">
                      <img  class="h-100" src="{{ad.images[0].url}}" alt="{{ad.title}}">
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="p-2" style="min-width: 0; flex: 1 1 auto; height: auto; display: flex; flex-direction: column;">
                    <div  class="d-flex align-items-end px-2" style=" min-width: 0;">
                    <h6>{{ad.title}}</h6>
                    </div>
                    <div  class="d-flex px-2">
                    <p class="d-inline" style="position: initial;">{{ad.author}}</p>
                    <div  class="d-none d-md-inline">
                      - <p class="d-inline" 
                      style="position: initial;">{{ad.publisher}}</p>
                    </div>
                    </div>
                    <div  class="px-2 d-flex">
                    <p class="d-inline" style="position: initial;">{{ad.year}}</p>
                    <span  class="ms-auto">{{ad.isbn}}</span>
                    </div>
                    <div class="d-flex px-2 justify-content-between">
                      <div>
                        Prezzo: 
                        <input type="text" class="form-control form-control-hidden" #priceInput [(ngModel)]="ad.price" (change)="ad.price = priceInput.value">
                      </div>
                      <div>
                        Quantità: 
                        <input type="number" class="form-control form-control-hidden" #quantityInput [(ngModel)]="ad.quantity" (change)="ad.quantity = quantityInput.value">
                      </div>
                    </div>
                    
                    </div>
                </div>
                <div class="col-12" style="border-top:1px solid #213937;">Scegli immagine principale:</div>
                <div class="col-12 py-2 px-4">
                  <img src="{{img.url}}" alt="ad.title" *ngFor="let img of ad.images" style="max-width: 35px; max-height: 35px;">
                </div>
              </div>
            </div>
            <!-- <app-ads-list-item-component  [ad]="ad"></app-ads-list-item-component> -->
            <!-- <div class="d-flex p-2" style="border: 1px solid #213937; background-color: #fff;">
              <h6>{{ad.title}}</h6>
              <img src="#" alt="immagine">
              <p>{{ad.author}} - {{ad.publisher}} - {{ad.year}} - {{ad.price}}</p>
              <form #AdsForm="ngForm" (ngSubmit)="onSubmitADS(AdsForm, ad)">
                
                
                  <div class="form-group">
                    <label for="img">Immagine:</label>
                    <input type="text" name="img" id="img" class="form-control" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="quantity">Quantità:</label>
                    <input type="text" name="quantity" id="riepQuantity" class="form-control" ngModel>
                  </div>
                  <div class="form-group">
                    <label for="price">prezzo:</label>
                    <input type="text" name="price" id="riepPrice" class="form-control" ngModel>
                  </div>
                    <button type="submit" class="btn btn-primary">Conferma</button>
                  
                
               </form>
            </div> -->
          </div>
          <div class="col-12 d-flex justify-content-between">
            <button class="btn" (click)="changeStep(1);">Indietro</button>
            <button class="btn" (click)="onSubmitMulty()">Pubblica</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <div class="bg-light d-flex flex-grow-1 flex-shrink-1">
      <div id="collapseOne" class="card collapse show h-100 w-100" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="text-dark card-body">
            
          </div>
      </div>
      
      <div id="collapseTwo" class="card collapse h-100 w-100" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="text-dark card-body">
              your content goes here...
          </div>
      </div>

      <div id="collapseThree" class="card collapse h-100 w-100" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="text-dark card-body">
            your content goes here...
        </div>
      </div>
    </div> -->
  </div>
  
  
</div>


