<div *ngIf="showError" class="error position-absolute top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
  <div class="toast d-block" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Isbn ripetuto</strong>
      <button type="button" (click)="showError=false" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body px-3 d-flex text-center flex-column bg-white">
      Questo isbn è gia inserito <br> Vuoi sovrascriverlo?
      <div class="mt-2 pt-2 border-top d-flex justify-content-between">
        <button type="button" class="btn btn-primary btn-sm" (click)="onEdit()" >Conferma</button>
        <button type="button" (click)="showError=false" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Annulla</button>
      </div>
    </div>
  </div>
</div>

<div class="p-4 my-3 me-3 h-100 text-primary-dark">
  <div *ngIf="role === 'ACQUIRENTE'">
    <app-add-ads-form-component [genres]="genres" (formChangeEvent)="formCheck($event)"></app-add-ads-form-component>
    <div class="d-flex justify-content-center">
      <button (click)="onSubmitAds()" [disabled]="formSingle.invalid" class="btn btn-green w-50">Pubblica</button>
    </div>
  </div>
  <div *ngIf="role === 'LIBRERIA'" class="accordion h-100 d-flex flex-column" id="accordionExample">
    
    <div class="steps w-75 d-flex mx-auto nav nav-tabs" id="nav-tab" role="tablist">
      <progress #progressBar id="progress" value=0 max=2 ></progress>
      
      <button #step (click)="onSetStep(0)" class="steps-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">1</button>  
        <button #step (click)="onSetStep(1)" class="steps-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">2</button>
        <button #step (click)="onSetStep(2)" class="steps-item nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">3</button>
      </div>
      
      
      
    
    
    <div class="tab-content bg-light d-flex flex-grow-1 flex-shrink-1 px-4 pt-3" id="nav-tabContent">
      <div class="tab-pane fade show active h-100 w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="d-flex justify-content-center align-items-center h-75 w-100">
          <ul class="list-group w-50">
            <a role="button" (click)="changeStep(1); isMultyISBN = false" class="list-group-item p-4">
              <h5>Crea un inserzione</h5>
              <small class="text-muted">Inserisci manualmente i dettagli</small>
            </a>
            <a role="button" (click)="changeStep(1); isMultyISBN = true" class="list-group-item p-4">
              <h5>Inserisci un inserzione tramite ISBN</h5>
              <small class="text-muted">Con questa opzione è possibile un creare molteplici inserzioni</small>
            </a>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade h-100 w-100" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div *ngIf="!isMultyISBN; else multyIsbn">
          <app-add-ads-form-component [genres]="genres" (formChangeEvent)="formCheck($event)"></app-add-ads-form-component>
          <div class="d-flex justify-content-between px-5">
            <button type="button" (click)="changeStep(0)" class="btn btn-green w-25">Indietro</button>
            <button (click)="onSubmitAds()" [disabled]="formSingle.invalid" class="btn btn-green w-25">Pubblica</button>
          </div>
        </div>
        <ng-template #multyIsbn >
          <div class="container d-flex flex-column h-100 w-100">
          <div class="row">
            <div class="col-12">
              <form #addAdsFormIsbn="ngForm" (ngSubmit)="onSubmitIsbn()">
                <h3>Inserisci ISBN</h3>
                <div class="row justify-content-center">
                  <div class="form-group col-4">
                    <label for="ISBN">ISBN:</label>
                    <input type="text" name="ISBN" id="multyIsbn" class="form-control" required ngModel>
                  </div>
                  <div class="form-group col-2">
                    <label for="quantity">Quantità:</label>
                    <input type="number" name="quantity" id="multyQnt" class="form-control" ngModel>
                  </div>
                  <div class="form-group col-2">
                    <label for="price">Prezzo:</label>
                    <input type="number" name="price" id="multyPrice" class="form-control" ngModel>
                  </div>
                  <div class="col-3 d-flex align-items-end">
                    <button [disabled]="addAdsFormIsbn.invalid" type="submit" class="btn btn-green">Conferma ISBN</button>
                  </div>
                </div>
               </form>
            </div>
          </div>
          <div class="row d-flex flex-grow-1 flex-shrink-1">
            <div class="row p-3 w-100 d-flex h-fit">
              <div role="button" (click)="changeBook(book)" class="col-6 position-relative" *ngFor="let book of books; let i= index">
                <div class="btn-book">
                  <button type="button" (click)="books.splice(i, 1); isbns.splice(i, 1)" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="p-3 book-container">
                  <h6>{{book.title}}</h6>
                  <small>Isbn: {{book.isbn}} - Qnt: {{book.quantity}}<span *ngIf="book.price !== ''"> - Prezzo: {{book.price}}</span></small>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-4">
            <div class="col-12 d-flex justify-content-between">
              <button class="btn" (click)="changeStep(0);">Indietro</button>
              <button class="btn" [disabled]="books.length===0" (click)="changeStep(2);">Riepilogo</button>
            </div>
          </div>
        </div>
            
        </ng-template>
      </div>
      <div class="tab-pane fade h-100 w-100" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row d-flex flex-shrink-1 flex-grow-1">
          <div class="col-6 p-3" *ngFor="let ad of ads; let i= index">
            <div  class="my-3 p-0 ads-item">
              <div class="row m-0 p-0">
                <div class="col-4 px-0 py-2">
                  <div  class="h-100 align-self-center image-container">
                    <div  class="h-100 d-flex justify-content-center image-background">
                      <img  class="h-100 image" src="{{ad.images[0].url}}" alt="{{ad.title}}">
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="p-2 ads-detail-container">
                    <div  class="d-flex align-items-end px-2">
                      <h6>{{ad.title}}</h6>
                    </div>
                    <div  class="d-flex px-2">
                    <p class="d-inline p-initial">{{ad.author}}</p>
                    <div  class="d-none d-md-inline">
                      <p class="d-inline p-initial">{{ad.publisher}}</p>
                    </div>
                    </div>
                    <div  class="px-2 d-flex">
                    <p class="d-inline p-initial">{{ad.year}}</p>
                    <span  class="ms-auto">{{ad.isbn}}</span>
                    </div>
                    <div class="d-flex px-2 justify-content-between">
                      <div class="px-2">
                        Prezzo: 
                        <input type="text" class="form-control form-control-hidden" #priceInput [(ngModel)]="ad.price" (change)="ad.price = priceInput.value">
                      </div>
                      <div class="px-2">
                        Quantità: 
                        <input type="number" class="form-control form-control-hidden" #quantityInput [(ngModel)]="ad.quantity" (change)="ad.quantity = quantityInput.value">
                      </div>
                    </div>
                    
                    </div>
                </div>
                <div class="col-12 image-chose">Scegli immagine principale:</div>
                <div class="col-12 py-2 px-4">
                  <a class="me-3 mini-image" role="btn" *ngFor="let img of ad.images; let i = index" (click)=setFirstImage(ad,i)>
                    <img src="{{img.url}}" class="mini-image" alt="ad.title">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-between">
            <button class="btn" (click)="changeStep(1);">Indietro</button>
            <button class="btn" (click)="onSubmitMulty()">Pubblica</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>


