<style>
  input.ng-invalid.ng-touched,
  textarea.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  .container-form {
    background-color: white;
    color: #243F3D;
    border-color: #213937;
    border-left: none;
  }

  .btn-purple {
    background-color: var(--blue);
    color: lightgray;
  }
</style>

<style>
  ::ng-deep :root {
    --prm-gray: lightgrey;
    --prm-color: green;

    --transition-collapse:         height .35s ease;
    --transition-collapse-width:   width .35s ease;
  }
  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}
.done {
    background-color: var(--prm-color);
    color: #fff;
}
.step-item {
    z-index: 10;
    text-align: center;
}

#progress {
  -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);
}

.collapsing {
  visibility: hidden;
}

.collape {
  visibility: hidden;
  transition: visibility 2s;
}

.show {
  visibility: visible;
  transition: visibility 2s;
}

.card {
  background-color: red;
}


</style>


<style>
  .nav-tabs {
    border: none;
  }
  .nav-link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
    z-index: 10;
  }

  .nav-link.done {
    background-color: var(--prm-color);
    color: #fff;
  }

  .nav-link.active {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}
</style>

<div class="container-form p-4 my-3 me-5 h-100" style="border-bottom-right-radius: 60px; border-top-right-radius: 60px;">
  <div class="accordion h-100 d-flex flex-column" id="accordionExample">
    <!-- <div class="steps w-75 d-flex align-items-center mx-auto">
        <progress  id="progress" value=0 max=2 ></progress>
        <div class="step-item">
          <button  (click)="onSetStep(0)" class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            1
        </button>
            <div class="step-title">
                
            </div>
        </div>
        <div class="step-item">
            <button  (click)="onSetStep(1)" class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2
            </button>
            <div class="step-title">
                
            </div>
        </div>
        <div class="step-item">
            <button  (click)="onSetStep(2)" class="step-button text-center collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                3
            </button>
            <div class="step-title">
            </div>
        </div>
    </div> -->

    <div class="steps w-75 d-flex mx-auto nav nav-tabs" style="height: 60px" id="nav-tab" role="tablist">
      <progress #progressBar id="progress" value=0 max=2 ></progress>
      
      <button #step (click)="onSetStep(0)" class="steps-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">1</button>  
        <button #step (click)="onSetStep(1)" class="steps-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">2</button>
        <button #step (click)="onSetStep(2)" class="steps-item nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">3</button>
      </div>
      
      
    
    
    
    <div class="tab-content bg-light d-flex flex-grow-1 flex-shrink-1" id="nav-tabContent">
      <div class="tab-pane fade show active h-100 w-100" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="d-flex justify-content-center align-items-center h-100 w-100">
          <ul class="list-group w-50">
            <a role="button" (click)="changeStep(1)" class="list-group-item  p-3">
              <h5>Crea un inserzione</h5>
              <small class="text-muted">Inserisci manualmente i dettagli</small>
            </a>
            <a role="button" (click)="changeStep(1)" class="list-group-item p-3">
              <h5>Inserisci un inserzione tramite ISBN</h5>
              <small class="text-muted">Con questa opzione è possibile un creare molteplici inserzioni</small>
            </a>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">2</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">3</div>
    </div>
    
    <!-- <div class="bg-light d-flex flex-grow-1 flex-shrink-1">
      <div id="collapseOne" class="card collapse show h-100 w-100" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="text-dark card-body">
            
          </div>
      </div>
      
      <div id="collapseTwo" class="card collapse h-100 w-100" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="text-dark card-body">
              your content goes here...
          </div>
      </div>

      <div id="collapseThree" class="card collapse h-100 w-100" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="text-dark card-body">
            your content goes here...
        </div>
      </div>
    </div> -->
  </div>
  
  <!-- <h3>Inserisci le informazioni sul Libro</h3>
  <hr>
  <form [formGroup]="addAdsForm" (ngSubmit)="onSubmit()">
    <div class="row m-0">
      <div class="col-8 order-1">
        <div class="form-group">
          <label for="title">Titolo<span style="color: red;">*</span>:</label>
          <input type="text" name="title" class="form-control" formControlName="title">
        </div>
      </div>
      <div class="col-4 order-1">
        <div class="form-group">
          <label for="author">Autore<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
          <input type="text" name="author" class="form-control" formControlName="author">
        </div>
      </div>
      <div class="order-2" [ngClass]="role!=='LIBRERIA'? 'col-9' : 'col-6'">
        <div class="form-group">
          <label for="genre">Genere<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
          <app-multiple-select-component [form]="addAdsForm.get('genre')" name="genre" [list]="genres" stringAttribute="name" [multiple]="true" formControlName="genre"></app-multiple-select-component>
        </div>
      </div>
      <div [ngClass]="role!=='LIBRERIA'? 'order-3 col-7' : 'order-2 col-4'">
        <div class="form-group">
          <label for="publisher">Editore<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
          <input type="text" name="publisher" class="form-control" formControlName="publisher">
        </div>
      </div>
      <div class="order-2" [ngClass]="role!=='LIBRERIA'? 'col-3' : 'col-2'">
        <div class="form-group">
          <label for="year">Anno<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
          <app-multiple-select-component [form]="addAdsForm.get('year')" name="year" [list]="years" formControlName="year"></app-multiple-select-component>
        </div> 
      </div>
      <div class="col-12 order-4">
        <div class="form-group content box">
          <label for="inputImage">Immagini<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
          <div class="content">
            <app-custom-input-file-component [form]="addAdsForm.get('image')" formControlName="image"></app-custom-input-file-component>
          </div>
        </div>
      </div>
      <div class="col order-4">
        <div class="form-group">
          <label for="description">Descrizione<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
          <textarea 
            type="text"
            id="description"
            class="form-control"
            rows="4"
            formControlName="description"
            style="resize: none;"></textarea>
        </div>
      </div>
      <div class="d-flex flex-column" [ngClass]="role!=='LIBRERIA'? 'order-3 col-5' : 'order-5 col-4'">
        <div class="form-group">
          <label for="ISBN">ISBN<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
          <input type="text" name="ISBN" class="form-control" formControlName="ISBN">
        </div>
        <div class="d-flex mt-auto" *ngIf="role==='LIBRERIA'">
          <div class="form-group me-1" style="flex: 1 auto">
            <label for="quantity">Quantità <span style="color: red;">*</span>:</label>
            <input type="text" name="quantity" class="form-control" formControlName="quantity">
          </div>
          <div class="form-group ms-1" style="flex: 1 auto">
            <label for="price">Prezzo<span style="color: red;" *ngIf="role==='LIBRERIA'">*</span>:</label>
            <input type="text" name="price" class="form-control" formControlName="price">
          </div> 
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-purple">Conferma</button>
      <button type="button" (click)="onCambia()" class="btn btn-purple">Change</button>
    </div>
  </form> -->
</div>


