<div class="row justify-content-center h-100 align-items-center">
  <div class="col-6 container-form p-5">
    <div *ngIf="showError" class="alert alert-danger d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        {{errorMessage}}
      </div>
    </div>
    <form #recoveryForm='ngForm' (ngSubmit)="onSubmit(recoveryForm)">
      <h5 class="mb-3" for="email">Inserisci l'email per recuperare la password</h5>
      <input type="email" name="email" ngModel email required placeholder="Email" class="form-control">
      <p *ngIf="emailSend" class="text-center pt-3">
        L'email è stata inviata.
      <div class="d-flex pt-3 justify-content-center">
        <button class="btn btn-main me-3" type="button" routerLink="/home">Annulla</button>
        <button class="btn btn-main" type="submit">Recupera password</button>
      </div>
    </form>
  </div>
</div>