.container-form {
  border: 1px solid var(--primary-dark);
  background-color: var(--light-color);
  border-radius: 10px;
}

span, .error {
  color: red;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.nav-link {
  color: var(--primary-color);
}