<style>

.btn-green {
    background-color: #4d8682;
    color: #213937;
}

.container-form {
    border: 1px solid #213937;
    background-color: #fff;
    border-radius: 10px;
}

span, .error {
  color: red;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.nav-link {
  color:#4D8682;
}
</style>


<div  class="row justify-content-center align-items-center h-100">
  <div  class="col-10 col-md-7">
  <div  class="container-form p-3 p-md-4 p-lg-5">
  <h1  style="color: #3A6562;">Registrati</h1>
  <hr >
  <ul  id="myTab" role="tablist" class="nav nav-tabs">
  <li  role="presentation" class="nav-item">
  <button  id="user-tab" data-bs-toggle="tab" data-bs-target="#user" type="button" role="tab" aria-controls="user" aria-selected="true" class="nav-link active">Utente</button>
  </li>
  <li  role="presentation" class="nav-item">
  <button  id="library-tab" data-bs-toggle="tab" data-bs-target="#library" type="button" role="tab" aria-controls="library" aria-selected="false" class="nav-link">Libreria</button>
  </li>
  <li _ngcontent-xjn-c29="" data-bs-toggle="tooltip" data-bs-placement="right" class="text-danger d-flex ms-auto me-4 nav-item align-items-center" title="-Inserisci un email valida
-La password deve contenere 6-20 caratteri
-Le password non coincidono
"><svg _ngcontent-xjn-c29="" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-exclamation-circle"><path _ngcontent-xjn-c29="" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path><path _ngcontent-xjn-c29="" d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path></svg></li>
  <!---->
  </ul>
  <div  id="myTabContent" class="tab-content">
  <div  id="user" role="tabpanel" aria-labelledby="user-tab" class="tab-pane fade active show">
  <form  novalidate="" class="ng-untouched ng-dirty ng-invalid">
  <div  class="container">
  <div  class="row py-3">
  <div  class="col-12">
  <!---->
  <div _ngcontent-xjn-c29="" role="alert" class="alert alert-danger d-flex align-items-center"><svg _ngcontent-xjn-c29="" xmlns="http://www.w3.org/2000/svg" role="img" width="24" height="24" aria-label="Danger:" fill="currentColor" viewBox="0 0 16 16" class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill"><path _ngcontent-xjn-c29="" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg><div _ngcontent-xjn-c29=""> Completa adeguatamente i campi obbligatori </div></div>
  <label  class="d-flex align-items-center"> Email<span >*</span>: </label>
  <input  type="email" required="" ngmodel="" name="email" id="email" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-6">
  <label  for="password"> Password<span >*</span>:</label>
  <input  type="password" required="" minlength="6" maxlength="20" ngmodel="" name="password" id="password" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-6">
  <label  for="passwordConfirm"> Conferma Password<span >*</span>:</label>
  <input  type="password" required="" ngmodel="" name="passwordConfirm" id="passwordConfirm" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-6">
  <label  for="first_name">Nome</label>
  <input  type="text" minlength="2" maxlength="40" ngmodel="" name="first_name" id="first_name" class="form-control ng-untouched ng-pristine ng-valid">
  </div>
  <div  class="col-6">
  <label  for="last_name">Cognome:</label>
  <input  type="text" minlength="2" maxlength="40" ngmodel="" name="last_name" id="last_name" class="form-control ng-untouched ng-pristine ng-valid">
  </div>
  <div  class="col-8">
  <label  for="street_address_1">Indirizzo 1:</label>
  <input  type="text" minlength="2" maxlength="500" ngmodel="" name="street_address_1" id="street_address_1" class="form-control ng-untouched ng-pristine ng-valid">
  </div>
  <div  class="col-4">
  <label  for="street_address_2">Indirizzo 2:</label>
  <input  type="text" minlength="2" maxlength="500" ngmodel="" name="street_address_2" id="street_address_2" class="form-control ng-untouched ng-pristine ng-valid">
  </div>
  <div  class="col-5">
  <label  for="province">Provincia:</label>
  <app-multiple-select-component  id="province" stringattribute="name" name="province" ngmodel=""></app-multiple-select-component>
  </div>
  <div  class="col-5">
  <label  for="city">Citta:</label>
  <app-multiple-select-component  id="city" stringattribute="name" name="city" ngModel></app-multiple-select-component>
  </div>
  <div  class="col-2">
  <label  for="zip_code">CAP:</label>
  <input  type="number" minlength="3" maxlenght="20" ngmodel="" name="zip_code" id="zip_code" class="form-control ng-untouched ng-pristine ng-valid">
  </div>
  </div>
  <div  class="row">
  <div  class="col-12 d-flex justify-content-center align-items-center">
  <button  type="submit" class="btn btn-green">Conferma</button>
  </div>
  </div>
  </div>
  </form>
  </div>
  <div  id="library" role="tabpanel" aria-labelledby="library-tab" class="tab-pane fade">
  <form  novalidate="" class="ng-untouched ng-dirty ng-invalid">
  <div  class="container">
  <div  class="row py-3">
  <!---->
  <div class="col-12">
  <div _ngcontent-xjn-c29="" role="alert" class="alert alert-danger d-flex align-items-center"><svg _ngcontent-xjn-c29="" xmlns="http://www.w3.org/2000/svg" role="img" width="24" height="24" aria-label="Danger:" fill="currentColor" viewBox="0 0 16 16" class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill"><path _ngcontent-xjn-c29="" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path></svg><div _ngcontent-xjn-c29=""> Completa adeguatamente i campi obbligatori </div></div>

  </div>
  <div  class="col-8">
  <label  for="library_name">Nome Libreria:</label>
  <input  type="text" required="" ngmodel="" name="library_name" id="library_name" minlength="2" maxlength="800" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-4">
  <label  for="piva">Piva:</label>
  <input  type="number" required="" ngmodel="" name="piva" id="piva" minlength="11" maxlength="11" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-12">
  <label  for="email">Email:</label>
  <input  type="email" required="" ngmodel="" name="email" id="library_email" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-6">
  <label  for="email">Password:</label>
  <input  type="password" required="" ngmodel="" name="password" minlength="6" maxlength="20" id="library_password" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-6">
  <label  for="passwordConfirm">Conferm Password:</label>
  <input  type="password" required="" ngmodel="" name="passwordConfirm" id="library_passwordConfirm" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-8">
  <label  for="street_address_1">Indirizzo 1:</label>
  <input  type="text" required="" ngmodel="" name="street_address_1" minlength="2" maxlength="500" id="library_street_address_1" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-4">
  <label  for="street_address_2">Indirizzo 2:</label>
  <input  type="text" required="" ngmodel="" name="street_address_2" minlength="2" maxlength="500" id="library_street_address_2" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-5">
  <label  for="province">Provincia:</label>
  <app-multiple-select-component  required="" id="library_province" stringattribute="name" name="province" ngmodel=""></app-multiple-select-component>
  </div>
  <div  class="col-5">
  <label  for="city">Citta:</label>
  <app-multiple-select-component  required="" id="library_city" stringattribute="name" name="city" ngmodel="" disabled=""></app-multiple-select-component>
  </div>
  <div  class="col-2">
  <label  for="zip_code">CAP:</label>
  <input  type="number" required="" ngmodel="" name="zip_code" minlength="3" maxlength="20" id="library_zip_code" class="form-control ng-untouched ng-pristine ng-invalid">
  </div>
  <div  class="col-12">
  <label  for="description">Descrizione:</label>
  <textarea  required="" ngmodel="" name="description" minlength="10" maxlength="2000" id="description" cols="30" rows="3" class="form-control ng-untouched ng-pristine ng-invalid">
  </textarea>
  </div>
  </div>
  <div  class="row">
  <div  class="col-12 d-flex justify-content-center align-items-center">
  <button  type="submit" class="btn btn-green">Conferma</button>
  </div>
  </div>
  </div>
  </form>
  </div>
  </div>
  <hr >
  <div  class="d-flex justify-content-center">
  <p >Hai gia un account? <a  routerlink="/auth/login" href="/auth/login">clicca qui</a>
  </p>
  </div>
  </div>
  </div>
  </div>