
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn-green {
    background-color: #4d8682;
    color: #213937;
}

.container-form {
    border: 1px solid #213937;
    background-color: #fff;
    border-radius: 10px;
}

span, .error {
  color: red;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.nav-link {
  color:#4D8682;
}

h1 {
  color: #3A6562;
}