strong {
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 5px;
  position: absolute;
}

.info {
  border-bottom: 1px solid var(--third-dark);
}

.info-empty {
  border-bottom: 1px solid var(--first-light);
  color: var(--first-light);
}

.row {
  margin: 0;
}

.description-container {
  border: 1px solid var(--third-light); 
  border-radius: 20px;
}