<style>
  strong {
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
  }

  .info {
    border-bottom: 1px solid #213937;
  }

  .info-empty {
    border-bottom: 1px solid lightgray;
    color: lightgray;
  }

  .row {
    margin: 0;
  }
</style>
<ng-template #empty>
  <p class="ms-1 info-empty p-1">---</p>
</ng-template>
  <!-- <div class="row justify-content-end h-100 p-3 p-md-4 p-lg-5">
    <div class="col-10 col-md-7"> -->
      <div class="p-3 container flex-column d-flex h-100 w-100">
        <div class="row p-4">
          <div class="col-12">
            <h1 *ngIf="user.role=='ACQUIRENTE'">{{ user.username }} {{ user.userInfos.last_name }}</h1>
            <h1 *ngIf="user.role=='LIBRERIA'">{{ user.username }}</h1>
            <h5 class="ms-2">{{ user.email }}</h5>
          </div>
        </div>
        <div class="row px-4">
          <h4 class=" mb-3 ms-auto">Informazioni</h4>
          <div class="col-12 ms-1">
            <h6>Indirizzo:</h6>
            <div class="row">
              <div class="col-5">
                <small>Città:</small>
                <p *ngIf="user.city; else empty" class="ms-1 info p-1">{{ user.city }}</p>
              </div>
              <div class="col-5">
                <small>Provincia:</small>
                <p *ngIf="user.provinceId; else empty" class="ms-1 info p-1">{{ user.provinceId }}</p>
              </div>
              <div class="col-2">
                <small>CAP:</small>
                <p *ngIf="user.zipCode; else empty" class="ms-1 info p-1">{{ user.zipCode }}</p>
              </div>
              <div class="col-8">
                <small>Indirizzo 1:</small>
                <p *ngIf="user.streetAddress1; else empty" class="ms-1 info p-1">{{ user.streetAddress1 }}</p>
              </div>
              <div class="col-4">
                <small>Indirizzo 2:</small>
                <p *ngIf="user.streetAddress2; else empty" class="ms-1 info p-1">{{ user.streetAddress2 }}</p>
              </div>
              
            </div>
            <ng-container *ngIf="user.role=='LIBRERIA'">
              <div class="row justify-content-center">
                <div class="col-6">
                  <h6 class="mb-0">P.iva</h6>
                  <p *ngIf="user.libraryInfos.piva; else empty" class="ms-1 info p-1">{{ user.libraryInfos.piva }}</p>
                </div>
              </div>
              <h6>Descrizione:</h6>
              <div class="row">
                <div class="col-12" style="border: 1px solid #A2E2DE; border-radius: 20px;">
                  <p class="m-3">{{ user.libraryInfos.description }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <br>
        <div class="row mt-auto pb-3">
          <div class="col-12 d-flex justify-content-end">
            <button class="btn btn-green" routerLink="/{{ user.id }}/change-password">Modifica password</button>
            <button class="btn btn-green ms-4" routerLink="/{{ user.id }}/my-profile/edit">Modifica profilo</button>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <!-- <div class="col-2 col-md-3">
      <div class="container-form">
        <ul class="list-group">
          <li class="list-group-item">Le mie inserzioni</li>
          <li class="list-group-item">Aggiungi inserzioni</li>
          <li class="list-group-item">Modifica profilo</li>
          <li class="list-group-item">Cambia password</li>
          <li class="list-group-item">altro 1</li>
          <li class="list-group-item">altro 2</li>
        </ul>
      </div>
    </div> -->
  <!-- </div> -->