a {
  color: inherit;
  text-decoration: none;
}

.ads-item-f {
  min-height: 120px;
  color: var(--third-dark) !important;
  background: linear-gradient(135deg, white 75%, var(--third-light)) !important;
}

.ads-item-f h5 {
  color: var(--third-dark) !important;
}

.ads-item h5 {
  color: var(--first-light);
}

.ads-item-grid {
  max-height: 80px !important;
  min-height: 80px !important;
}

.ads-item-list {
  transition: max-height 0.7s;
}

.ads-item {
  max-height: 120px;
  min-height: 120px;
  height: auto;
  overflow: hidden;
  color: var(--fourth-color);
  border-radius: 10px;
  display: flex;
  width: 100%;
  max-width: 1500px;
  border: 1px solid var(--primary-color);
  background: linear-gradient(135deg, var(--secondary-light) 75%, #f88d68);
}

.ads-item-list:hover {
  max-height: 250px;
  transition: max-height 1.4s;
}

.ads-image-col {
  overflow: hidden;
  flex: 0 0 25%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
}

.ads-image-frame {
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: rgba(200, 200, 200, 0.6);
}

.ads-info-col {
  min-width: 0;
  flex: 1 1 auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ad-title {
  width: 100%;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.card {
  border-color: var(--third-dark);
  color: var(--third-dark);
}

.title-container {
  flex: 1;
  min-width: 0;
}

.text-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge-container {
  flex: 0 1 auto;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  display: flex;
  flex-direction: column;
}

.text-green {
  color: green;
}

.text-red {
  color: tomato;
}

.empty-value {
  flex: 0 20%;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.price-container {
  /* flex: 1;  */
  border-top: 1px solid var(--first-light);
}
