<div class="box">
  <div class="w-100" style="height: 25%; background-color: #BFEEEC; z-index: -1; position: absolute;"></div>
  <app-header-component></app-header-component>
  <div class="box container-fluid p-0 m-0">
    <div class="row content justify-content-center p-0 m-0">
      <div class="col m-0 p-0"> <!--bg-grey  col-sm col-md-9 col-lg-9 col-xl-9-->
        <router-outlet></router-outlet>
      </div>
    </div>
    
    <div class="row footer p-0 m-0">
      <footer class="container-fluid py-1 bg-dark">
        <div class="row">
          <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-grey">2021©</span>
            <a class="text-lightgrey">PDF.corp</a>
          </div>
          <div class="col-sm-6 d-flex flex-row-sm-reverse justify-content-center justify-content-sm-end">
            <div class="nav">
              <a class="nav-link pl-3 pl-0 text-lightgrey">About</a>
              <a class="nav-link px-3 text-lightgrey">Team</a>
              <a class="nav-link pl-3 pr-0 text-lightgrey">Contact</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>