<div class="box" style="min-width: 400px">
  <div class="w-100 position-absolute background-line" style="min-width: 400px"></div>
  <app-header-component> </app-header-component>
  <div class="flex-column container-fluid d-flex flex-grow-1 p-0 m-0 justify-content-center">
    <div
      class="row content justify-content-center p-0 m-0 m-lg-auto d-flex w-100"
      style="max-width: 1500px; min-width: 400px"
    >
      <div class="col-12 w-100 m-0 p-0" style="min-width: 400px">
        <router-outlet> </router-outlet>
      </div>
    </div>

    <div class="row footer p-0 m-0 mt-3">
      <footer class="container-fluid py-1" style="background-color: var(--third-light)">
        <div class="row px-3">
          <div class="col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
            <span class="text-muted">2021©</span>
            <a class="link-colored">PDF.corp</a>
          </div>
          <div class="col-sm-6 d-flex flex-row-sm-reverse justify-content-center justify-content-sm-end">
            <div class="nav">
              <a class="nav-link pl-3 pl-0 text-muted">About</a>
              <a class="nav-link px-3 text-muted">Team</a>
              <a class="nav-link pl-3 pr-0 text-muted">Contact</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
