.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.bg-grey {
  background-color: rgb(90, 90, 90);
}

.text-grey {
  color: grey;
}

.text-lightgrey {
  color: lightgrey;
}

.background-line {
  height: 25%; 
  background-color: #BFEEEC; 
  z-index: -1;
}