.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.background-line {
  height: 25%;
  background-color: var(--fourth-light);
  z-index: -1;
}
