.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
  background-color: #242038;
}

.box .row.footer {
  flex: 0 1 40px;
}

.bg-grey {
  background-color: rgb(90, 90, 90);
}

.text-grey {
  color: grey;
}

.text-lightgrey {
  color: lightgrey;
}