.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
}

h2, h3 {
  color: var(--third-dark);
}

.empty {
  font-size: larger; 
  border-bottom: 1px solid var(--first-light);
}

.img-container {
  height: 200px; 
  border: 1px solid var(--primary-dark); 
  background-color: var(--secondary-light) 
}

.field {
  font-size: larger; border-bottom: 1px solid var(--primary-color);
}

.genre-container {
  width: fit-content; 
  background-color: var(--third-color); 
  color: var(--light-color); 
  border-radius: 10px;
}

.price-container {
  border:1px solid var(--third-dark);
}

.description-container {
  height: auto; 
  min-height: 150px; 
  border: 1px solid var(--first-light);
}