.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
}
h2, h3 {
  color: #3A6562;
}

.empty {
  font-size: larger; 
  border-bottom: 1px solid var(--light-grey);
}

.img-container {
  height: 200px; 
  border: 1px 
  solid var(--dark-color); 
  background-color: var(--light-cyan) 
}

.field {
  font-size: larger; border-bottom: 1px solid var(--primary-color);
}

.genre-container {
  width: fit-content; 
  background-color: var(--secondary-color); 
  color: var(--white); 
  border-radius: 10px;
}

.price-container {
  border:1px solid var(--secondary-dark);
}

.description-container {
  height: auto; 
  min-height: 150px; 
  border: 1px solid var(--light-grey);
}