<div class="p-4 p-sm-5">
  <h1>Modifica Profilo</h1>
  <hr>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 col-md-6 order-1" *ngIf="user.role=='ACQUIRENTE'">
        <label for="firstname">Nome:</label>
        <input id="firstname" formControlName="firstname" class="form-control" type="text">
      </div>
      <div class="col-12 col-md-6 order-1" *ngIf="user.role=='ACQUIRENTE'">
        <label for="lastname">Cognome:</label>
        <input id="lastname" formControlName="lastname" class="form-control" type="text">
      </div>
      <div class="col-12 col-md-8 order-1" *ngIf="user.role=='LIBRERIA'">
        <label for="libraryname">Nome Libreria:</label>
        <input id="libraryname" formControlName="libraryname" type="text" class="form-control">
      </div>
      <div class="col-12 col-md-4 order-1" *ngIf="user.role=='LIBRERIA'">
        <label for="piva">Partita Iva:</label>
        <input id="piva" formControlName="piva" class="form-control">
      </div>
      <div class="col-12 order-1">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" class="form-control">
      </div>
      <!--Probabilità mettere qui il tasto modifica password-->
      <div class="col-12 order-1" *ngIf="user.role=='LIBRERIA'">
        <label for="description">Descrizione:</label>
        <textarea id="description" formControlName="description" class="form-control resize-none" rows="4"></textarea>
      </div>
      <div class="col-12 col-lg-8 order-1">
        <label for="street_address_1">Indirizzo 1:</label>
        <input class="form-control" id="street_address_1" formControlName="street_address_1" type="text">
      </div>
      <div class="col-7 col-md-9 col-lg-4 order-1">
        <label for="street_address_2">Indirizzo 2:</label>
        <input class="form-control" id="street_address_2" formControlName="street_address_2" type="text">
      </div>
      <div class="col-12 col-md-6 col-lg-5 order-3">
        <label for="provinces">Provincia:</label> 
        <app-multiple-select-component [list]="provinces" id="provinces" stringAttribute="name" formControlName="provinces"></app-multiple-select-component>
      </div>
      <div class="col-12 col-md-6 col-lg-5 order-3">
        <label for="city">Città:</label>
        <app-multiple-select-component [list]="city" id="city" stringAttribute="name" formControlName="city"></app-multiple-select-component>
      </div>
      <div class="col-5 col-md-3 col-lg-2 order-2  order-lg-4">
        <label for="zip_code">Cap:</label>
        <input class="form-control" id="zip_code" formControlName="zip_code" type="text" maxlength="5">
      </div>
    </div>
    <hr>
    <!--Problema spazio Acquirente-->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-main">Conferma</button> <!--Problema toast di conferma-->
      <!--Problema tasto annulla-->
    </div>
  </form>
</div>
