input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
:host app-multiple-select-component.ng-touched.ng-invalid ::ng-deep .form-control{
  border: 1px solid red;
}

 app-multiple-select-component {
  background-color: red;
}

textarea {
  resize: none;
}