.active {
  color: var(--third-dark);
  background-color: var(--third-color);
  border: none
}

small {
  color: var(--fourth-dark);
}

.active small {
  color: var(--third-dark);
}

.list-group {
  background-color: var(--light-color);
  border-right: 1px solid var(--third-dark);
  border-radius: 0px;
  overflow: hidden;
}

button .btn-green {
  border-bottom-left-radius: 0;
  border-top-left-radius: 15px;
}

.userMessage {
  background-color: var(--third-light);
  border-radius: 10px;
  width: fit-content;
  color: var(--secondary-dark);
}

.otherUserMessage {
  background-color: var(--third-color);;
  border-radius: 10px;
  width: fit-content;
  color: var(--secondary-dark);;
  margin-left: auto;
}

.chat-container {
  overflow: hidden; 
  background-color: var(--light-color); 
  border-top-right-radius: 15px; 
  border-bottom-right-radius: 15px; 
  border-left: none;
}

.message-container {
  overflow-y: scroll; 
  position: relative; 
  border-top: 1px solid var(--third-dark); 
  border-bottom: 1px solid var(--third-dark);
}