<div class="d-flex flex-column h-100 w-75 ms-auto">
  <h1 class="mx-3" style="color: lightgray;">Nome</h1>
  <div class="flex-column container-form mx-3 mt-1 mb-2 d-flex flex-shrink-1 flex-grow-1" style="position: relative; background-color: #C7BBE4; border-radius: 20px;">
    <div class="d-flex flex-column p-4 flex-shrink-1 flex-grow-1" >
      <div *ngFor="let message of messages" class="ms-auto p-2 my-1" style="height: fit-content; width:fit-content; background-color: #9067C6; border-radius: 20px;">
        {{ message }}
      </div>
    </div>
    <textarea #mess class="p-2" style="border: 1px solid #3F325C; resize: none; background-color: #C7BBE4; border-radius: 20px;" name="" id="" cols="30" rows="4"></textarea>
    <button class="btn" style="border-bottom-right-radius: 20px; border-top-left-radius: 20px; color: lightgray; background-color: #5A447F; position: absolute; right: 0; bottom: 0;" (click)="onInvia(mess.value)">Invia</button>
  </div>
</div>