/* You can add global styles to this file, and also import other style files */

:root {
  --dark-color: #213937;
  --primary-dark: #243F3D;
  --primary-color: #4d8682;
}

.btn-green {
  background-color: #4d8682;
  color: #213937;
}

.container-form {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  color: var(--primary-dark);
}


.btn-orange {
  background-color: #ff8615;
  color: black;
}

a.link-orange, a.link-orange:visited, a.link-orange:link{
  color: #ff8615;
}

a, a:visited, a:link{
  color: black;
}

input:focus.form-control,
textarea:focus.form-control {
  border-color: #ff8615;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px #ff8615;
}


/* .container, .row, .col {
  padding: 0;
  margin: 0;
} */