/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #D65430/*#4d8682*/;
  --secondary-color: #5B9A96;
  --third-color: #F6724A /*#69AEA9*/;
  --fourth-color: #B74829/*#54908C*/;

  --light-color: white;
  --first-light: #ffefd5; /*lightgrey;*/
  --secondary-light: #FDCCAE/*#D1F1EF*/; 
  --third-light: #FEDEC2 /*#A2E2DE*/;
  --fourth-light: #ffefd5/*#bfeeec*/;

  --primary-dark: #213937;
  --secondary-dark: #243F3D;
  --third-dark: #7A301B/*#3A6562*/;
  --fourth-dark: grey;
  
  --extra-color: #63BBF3;
  --extra-color-1: #67c5ff;
  --extra-color-2: #8DD4FF;
  --extra-color-3: #B3E2FF;
}

.resize-none {
  resize: none
}

.h-fit {
  height: fit-content;
}

.bg-secondary-light {
  background-color: var(--secondary-light);
}

.text-primary-color {
  color: var(--primary-color);
}

.text-secondary-color {
  color: var(--secondary-color);
}

.text-third-color {
  color: var(--third-color);
}

.text-light-color {
  color: var(--light-color);
}

.text-first-light {
  color: var(--first-light);
}

.text-secondary-dark {
  color: var(--secondary-dark);
}

.text-third-dark {
  color: var(--third-dark);
}

.br-20 {
  border-radius: 20px;
}

.btn-main {
  background-color: var(--primary-color);
  color: var(--primary-dark);
}
.btn-main:focus {
  box-shadow: 0 0 0 .25rem var(--secondary-light);
}

a.link-colored, a.link-colored:link, a.link-colored:visited {
  color: var(--primary-color);
}
a.link-colored:hover {
  color: var(--third-dark);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input:focus.form-control,
textarea:focus.form-control {
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px var(--primary-color);
}

.container-form {
  background-color: var(--light-color);
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  color: var(--primary-dark);
}