/* You can add global styles to this file, and also import other style files */

:root {
  --dark-color: #213937;
  --primary-dark: #243F3D;
  --secondary-dark: #3A6562;
  --primary-color: #4d8682;
  --secondary-color: #69AEA9;
  --third-color: #5B9A96;
  --light-color: #A2E2DE;
  --light-cyan: #D1F1EF; 
  --white: white;
  --light-grey: lightgrey;
}

/* h1,h2,h3,h4,h5,h6, .list-group-item {
  color: var(--primary-dark);
} */

.text-third-color {
  color: var(--third-color);
}

.btn-green {
  background-color: #4d8682;
  color: #213937;
}

.container-form {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  color: var(--primary-dark);
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}


.btn-orange {
  background-color: #ff8615;
  color: black;
}

a.link-orange, a.link-orange:visited, a.link-orange:link{
  color: #4d8682;
}

a, a:visited, a:link{
  color: black;
}

input:focus.form-control,
textarea:focus.form-control {
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px var(--primary-color);
}


/* .container, .row, .col {
  padding: 0;
  margin: 0;
} */