.popular-container{
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--extra-color);
  color: var(--light-color);
}

.popular-container div {
  padding: 0;
}

.most-popular-ads {
  height: 250px;
  display: flex;
  flex-direction: row;
  position: relative; 
  background-color: var(--extra-color-1);
}

.popular-ads-1 {
  height: 250px;
  display: flex;
  flex-direction: row;
  position: relative; 
  background-color: var(--extra-color-2);
}

.popular-ads-2 {
  height: 250px;
  display: flex;
  flex-direction: row;
  position: relative; 
  background-color: var(--extra-color-3);
}

.third-line-truncate {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.popular-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.popular-title {
  width: 90%;
  background-color: #579CCEdd;
  bottom: 15%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0; 
  right: 0;
}

.genre-box {
  background-color: var(--fourth-light);
  color: var(--third-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.3vw;
  width: 12.5%;
}

.genre-box:hover {
  background-color: var(--third-color);
}

.genre-box.list-group-item:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.genre-box.list-group-item:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


.recommended-title {
  color: var(--primary-color);
  display: flex;
  text-align: end;
  flex-direction: column;
}

.recommended-title h1 {
  font-size: 4vw;
}

.recommended-title p {
  font-size: 1.5vw;
}

.newest-ads {
  height: 300px; 
  width: 20%;
}

.card-title {
  font-size: 1.3vw;
}