<style>
  .box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
  .box .row.content {
    flex: 1 1 auto;
  }
  
  .box .row.footer {
    flex: 0 1 40px;
  }
  </style>

<div class="container p-4 h-100 box">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="background-color: rgba(50, 50, 50, 0.5);  background: radial-gradient(#ff8615,rgb(50, 50, 50));">
        <div class="text-center" 
          style="
            color: white;
            background: black; /* For browsers that do not support gradients */
            background: linear-gradient(rgba(50, 50, 50, 0.80), rgba(0,0,0,0)); /* Standard syntax */">
          <h2>Novità</h2>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="i" *ngFor="let book of books; let i = index" [ngClass] ="{'active': i===0}"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item align-item-center" *ngFor="let book of books; let i = index" [ngClass] ="{'active': i===0}">
            <img src="{{ book.imgUrl }}" alt="{{ book.title }}" class="img-responsive mx-auto d-block" style="width: auto; height: 100%; max-height: 300px;">
            <div class="carousel-caption d-none d-md-block" style="left: 0; right: 0; background-color: rgba(50, 50, 50, 0.75);">
              <h5>{{book.title}}</h5>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="card card-custom bgi-no-repeat gutter-b" style="height: 175px; background-color: #663259; background-position: calc(100% + 0.5rem) 100%; background-size: 100% auto; background-image: url(/metronic/theme/html/demo2/dist/assets/media/svg/patterns/taieri.svg)">
    <div class="card-body d-flex align-items-center">
      <div>
        <h3 class="text-white font-weight-bolder line-height-lg mb-5">Create SaaS 
        <br>Based Reports</h3>
        <a href="#" class="btn btn-success font-weight-bold px-6 py-3">Create Report</a>
      </div>
    </div>
  </div> -->

  <div class="row py-3 align-items-center">
    <div class="col-md-6">
      <div class="card flex-md-row box-shadow align-items-center p-5" 
        style="
        height: 150px; 
        border: 1px solid white; 
        color: white;
        background: rgb(50, 50, 50);
        background: linear-gradient(to right,rgb(50, 50, 50), #ff8615);">
        <div class="card-body d-flex flex-column align-items-start">
          <!-- <strong class="d-inline-block text-primary">utente</strong> -->
          <h3 class="mb-0">
            <a>Cerca il tuo libro</a>
          </h3>
          <p class="card-text mb-auto">Trova il libro che cerchi.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row box-shadow align-items-center p-5" style="
      height: 150px; 
      border: 1px solid white; 
      color: white;
      background: rgb(50, 50, 50);
      background: linear-gradient(to right,rgb(50, 50, 50), #ff8615);">
        <div class="card-body d-flex flex-column align-items-start">
          <h3 class="mb-0">
            <a>Vendi il tuo libro</a>
          </h3>
          <p class="card-text mb-auto">Metti in vendita i libri della tua libreria.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row content align-items-center">
    <div class="col-md-12">
      <div class="card flex-md-row box-shadow align-items-center p-5" 
        style="
        height: 150px; 
        border: 1px solid white; 
        color: white;
        background: rgb(50, 50, 50);">
        <div class="card-body d-flex flex-column text-center">
          <!-- <strong class="d-inline-block text-primary">utente</strong> -->
          <h3 class="mb-0 ">
            <a>Iscriviti</a>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card" style="width: 18rem;">
    <!- <img class="card-img-top" src="..." alt="Card image cap"> ->
    <div class="card-body">
      <h5 class="card-title">Cerca il tuo libro</h5>
      <!- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> ->
      <!- <a href="#" class="btn btn-primary">Go somewhere</a> ->
    </div>
  </div> -->
</div>