.account-container {
  overflow: hidden; 
  color: var(--primary-dark); 
  background-color: var(--light-color); 
  border: 1px solid var(--third-dark); 
  flex: 1 auto; 
  border-radius: 20px;
}

.container-form {
  width: 200px; 
  min-width: 220px; 
  border-radius: 20px; 
  overflow: hidden;
  border-color: var(--third-dark);
}

@media (min-width: 768px) {
  .account-container {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media (min-width: 1500px) {
  .account-container {
    border-radius: 20px;
  }
}